<template>
    <div class="container my-4">
        <form @submit.prevent="submitForm">
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <label for="exampleInputEmail1">Email address</label>
                    </div>
                </div>
                <div class="row">
                    <div
                        v-for="(_, index) of emailAddress"
                        class="col-12 row mb-3"
                        :key="`input-${index}`"
                    >
                        <div class="col-10" :key="`input-${index}`">
                            <input
                                type="email"
                                class="form-control"
                                v-model.lazy="emailAddress[index]"
                            />
                        </div>
                        <div class="col-2" :key="`add-${index}`">
                            <div class="row">
                                <div
                                    class="col"
                                    v-if="index === emailAddress.length - 1"
                                >
                                    <button
                                        type="button"
                                        class="btn btn-primary btn-block"
                                        @click="addEmailAddress(1)"
                                    >
                                        +
                                    </button>
                                </div>
                                <div class="col">
                                    <button
                                        type="button"
                                        class="btn btn-danger btn-block"
                                        :disabled="disabledBtn(index)"
                                        @click="removeEmailAddress(index)"
                                    >
                                        -
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="exampleInputEmail1">Expired At</label>
                        <input
                            type="date"
                            class="form-control"
                            v-model.lazy="expiredAt"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mt-4">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import { addEmailAdmin } from "../shared/commons";

export default {
    name: "App",
    data() {
        return {
            expiredAt: null,
            emailAddress: []
        };
    },
    mounted() {
        this.initForm();
    },
    methods: {
        async submitForm() {
            const data = this.sanitizeEmailAddresses();

            if (data.length === 0) {
                alert("empty data!");
            } else {
                await addEmailAdmin({
                    emailAddresses: data,
                    expiredAt: this.expiredAt
                });
                this.setEmailAddress([]);
                alert("Data save!");
                this.initForm();
            }
        },
        initForm() {
            this.$nextTick(() => {
                this.addEmailAddress(1);
                this.expiredAt = currentDate();
            });
        },
        sanitizeEmailAddresses() {
            const tmp = this.emailAddress;

            // remove empty value
            return tmp.filter(val => val);
        },
        setEmailAddress(data) {
            this.$set(this, "emailAddress", data);
        },
        addEmailAddress(length = 0) {
            if (length > 0) {
                this.setEmailAddress([
                    ...this.emailAddress,
                    ...Array(length).fill(null)
                ]);
            }
        },
        removeEmailAddress(index) {
            const tmp = this.emailAddress;
            tmp.splice(index, 1);

            this.setEmailAddress(tmp);
        },
        disabledBtn(index) {
            if (index === 0 && this.emailAddress.length === 1) {
                return true;
            } else {
                return false;
            }
        }
    }
};
</script>
