<template>
    <div>
        <div
            class="alert alert-danger"
            role="alert"
            v-if="errors && errors.length > 0"
        >
            <p v-for="(data, index) in errors" :key="index">{{ data }}</p>
        </div>
        <form class="text-capitalize" @submit.prevent="saveData">
            <div class="form-group">
                <label>Email address</label>
                <input
                    type="email"
                    class="form-control"
                    :value="emailAddress"
                    :disabled="true"
                />
            </div>
            <div class="form-group">
                <label>nama</label>
                <input type="text" class="form-control" v-model.lazy="nama" />
            </div>
            <div class="form-group">
                <label>tanggal lahir</label>
                <input
                    type="date"
                    class="form-control"
                    v-model.lazy="tanggal_lahir"
                />
            </div>
            <div class="form-group">
                <label>jenis kelamin</label>
                <v-select v-model="jenis_kelamin" :options="opsiJenisKelamin" />
            </div>
            <div class="form-group">
                <label>designer favorit</label>
                <v-select
                    multiple
                    v-model="selectedDesigner"
                    :options="designerList"
                />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</template>

<script>
import {
    DESIGNER_LIST,
    saveInvitationData,
    sendThanksEmail
} from "../../shared/commons";
import "vue-select/dist/vue-select.css";

export default {
    name: "FormInvitation",
    props: {
        email: {
            type: String,
            default: ""
        }
    },
    components: {
        "v-select": () => import("vue-select")
    },
    data() {
        return {
            nama: null,
            tanggal_lahir: null,
            jenis_kelamin: null,
            selectedDesigner: null,
            errors: null
        };
    },
    computed: {
        emailAddress() {
            return this.email;
        },
        opsiJenisKelamin() {
            return ["pria", "wanita"];
        },
        designerList() {
            return DESIGNER_LIST;
        }
    },
    methods: {
        async saveData() {
            try {
                this.$set(this, "errors", null);
                await saveInvitationData({
                    email: this.email,
                    nama: this.nama,
                    tanggal_lahir: this.tanggal_lahir,
                    jenis_kelamin: this.jenis_kelamin,
                    designer_favorit: this.selectedDesigner
                        ? this.selectedDesigner.join(",")
                        : null
                });
                await sendThanksEmail(this.email);
                this.$emit("success");
                alert("data save!");
            } catch (err) {
                console.log(err);
                const { errors } = err.response.data;

                if (errors) {
                    const tmp = Object.keys(errors).map(val => {
                        return errors[val].join(",");
                    });

                    this.$set(this, "errors", tmp);
                }
            }
        }
    }
};
</script>
