<template>
    <div>{{ duration }} left!</div>
</template>

<script>
export default {
    name: "Timer",
    props: {
        time: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            expiredAt: null,
            duration: null
        };
    },
    mounted() {
        this.countdown();
    },
    methods: {
        calcTime() {
            const tAt = this.time;
            const tNow = moment();

            const tmp = moment.duration(tAt.diff(tNow));

            const hours = tmp.get("hours");
            const minutes = tmp.get("minutes");
            const seconds = tmp.get("seconds");

            return [hours, minutes, seconds];
        },
        countdown() {
            setInterval(() => {
                const duration = this.calcTime();

                this.duration = duration.join(":");
            }, 1000);
        }
    }
};
</script>
