<template>
    <div class="container my-4">
        <template v-if="loading">
            fetching data from the backend, please wait!
        </template>
        <template v-else>
            <template v-if="status === 1">
                <template v-if="isExpired">
                    The invitation is expired
                </template>
                <template v-else>
                    <timer :time="expiredAt" />
                    <form-invitation
                        :email="email"
                        @success="fetchData(true)"
                    />
                </template>
            </template>
            <template v-else-if="status === 2">
                <p>
                    Your generated unique data: <strong>{{ sha1 }}</strong>
                </p>
            </template>
            <template v-else>
                <p>data not found!</p>
            </template>
        </template>
    </div>
</template>

<script>
import { fetchInvitationData } from "../shared/commons";

export default {
    name: "App",
    props: {
        email: {
            type: String,
            default: ""
        }
    },
    components: {
        FormInvitation: () => import("./components/FormInvitation"),
        Timer: () => import("./components/Timer")
    },
    data() {
        return {
            loading: true,
            status: null,
            sha1: null,
            expiredAt: null,
            isExpired: false
        };
    },
    beforeMount() {
        if (!this.email) {
            window.location.href = "/";
        }
    },
    async mounted() {
        await this.fetchData();
    },
    methods: {
        async apiFetchData(sha1 = false) {
            return await fetchInvitationData(this.email, sha1);
        },
        async fetchData(sha1 = false) {
            try {
                const { data } = await this.apiFetchData(sha1);

                if (!sha1) {
                    const { status, expired_at } = data;

                    if (status === 2) {
                        const { data } = await this.apiFetchData(true);
                        this.sha1 = data;
                    } else {
                        const now = moment();
                        const tAt = moment(expired_at, "YYYY-MM-DD").endOf(
                            "day"
                        );
                        this.isExpired = now.isAfter(tAt);
                        this.expiredAt = tAt;
                    }

                    this.status = status;
                } else {
                    this.sha1 = data;
                    this.status = 2;
                }
            } catch (err) {
                console.log(err);
                // window.location.href = "/";
            } finally {
                this.$nextTick(() => {
                    this.loading = false;
                });
            }
        }
    }
};
</script>
